/* Override Bootstrap */
.navbar-brand{
  color: #fff;
}
.navbar-nav .nav-link.active, .nav-link{
  color: #fff;
}
.nav-link:focus{
  color: #fff;
}

/* Common */
body{
  height: 100vh;
}
#app{
  height: 100vh;
}